#header {
  background-color: #ffffff;
  background-image: none;
}

#page-wrapper {
  background-color: #ffffff;
}

#sidebar-second {
  width: 370px;
  background-color: #f5f5f0;
  border-top-color: #ededed;
  border-left-color: #ededed;
  border-right-color: #ededed;
  border-bottom-color: #ededed;
  border-top-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-top-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
}

#content {
  width: 575px;
}

#main #content {
  width: 585px;
}

